@import url("https://fonts.googleapis.com/css?family=Sarabun");

$primary-colour: hsl(0, 0%, 15%);
$accent-colour: #a72a45;
$primary-text-colour: hsl(0, 0%, 80%);
$list-padding: 0.5rem;
$series-row-height: 17vh;
