@import "config";

// Ensures margin and padding are accounted for in width and height of all elements
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
}

body {
  background: $primary-colour;
}

.text-accent {
  color: $accent-colour;
}

.header-flex {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid $accent-colour;
  width: 100%;
  height: 8vh;
  padding: 1rem;

  h1 {
    flex: 2;
    line-height: 100%;
  }

  nav {
    flex: 2;

    ul {
      list-style-type: none;
      justify-content: flex-end;
      padding: 0 2rem;

      li {
        font-size: 18pt;
        margin-left: 2rem;

        a {
          text-decoration: none;

          &:visited {
            color: $accent-colour;
          }
        }
      }
    }
  }

  div {
    flex: 1;
    display: flex;

    input {
      padding: 0.4rem;
      background-color: lighten($primary-colour, 5%);
      border: none;
      outline: none;
      font-size: 12pt;
      color: $primary-text-colour;
      flex-grow: 1;

      &:focus {
        border: 1px solid grey;
      }

      &::placeholder {
        font-style: italic;
      }
    }

    button {
      border: none;
      outline: none;
      background-color: $primary-colour;
      width: 15%;
      cursor: pointer;

      .fa-search {
        color: $primary-text-colour;
        font-size: 1.25rem;
      }

      &:hover {
        background-color: $accent-colour;
      }
    }
  }
}

// Old slideshow
// #banners {
//   border-bottom: 1px solid grey;

//   img {
//     width: 100%;
//     position: absolute;
//     z-index: 1;
//   }
// }

// Old slideshow #2
// #banners {
//   display: flex;
//   height: auto;

//   div {
//     flex-shrink: 0;
//     width: 100%;

//     img {
//       width: 100%;
//       display: block;
//     }
//   }
// }

main {
  display: flex;
  justify-content: center;
}

#home-list {
  display: grid;
  width: 60%;
  grid-template-columns: 30% 15% 55%;
  grid-template-rows: $series-row-height;
  justify-content: center;
  // border: 1px solid $accent-colour;
}

.series-image {
  height: 100%;
  width: 100%;

  img {
    object-fit: cover;
    object-position: 100% 40%;
    width: 100%;
    height: $series-row-height;
    display: block;
  }
}

.episode-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $list-padding;
  font-size: 1.25rem;
  width: 100%;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 100%;

  & > div {
    font-size: 12pt;
    // border: 1px solid orange;
  }

  .episode-number {
    font-weight: bold;
    font-size: 4rem;
    line-height: 1;
  }

  a {
    height: 100%;
    width: 100%;
    display: none;
    text-decoration: none;

    .fa-play {
      color: $accent-colour;
      font-size: 40pt;
      align-self: center;
    }
  }

  &:hover > div {
    display: none;
  }

  &:hover > a {
    display: flex;
    justify-content: center;
  }
}

.series-details {
  padding: $list-padding 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;

  a {
    text-decoration: none;

    &:hover > h2 {
      color: $accent-colour;
    }
  }

  h2 {
    color: $primary-text-colour;
    font-size: 16pt;
  }

  span {
    color: darken($primary-text-colour, 20%);
    font-size: 14pt;
  }
}

footer {
  border-top: 1px solid $accent-colour;
  margin-top: 3rem;
  padding: 1rem;
  height: 10vh;
}
